{% extends 'base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block body %}
    <h1>Personnage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnage.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ personnage.name }}</td>
            </tr>
            <tr>
                <th>Link_image</th>
                <td>{{ personnage.linkImage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personnage_index') }}">back to list</a>

    <a href="{{ path('personnage_edit', {'id': personnage.id}) }}">edit</a>

    {{ include('personnage/_delete_form.html.twig') }}
{% endblock %}
