{% extends 'base.html.twig' %}

{% block title %}Univers index{% endblock %}

{% block body %}
    <h1>Univers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link_image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for univer in univers %}
            <tr>
                <td>{{ univer.id }}</td>
                <td>{{ univer.name }}</td>
                <td>{{ univer.linkImage }}</td>
                <td>
                    <a href="{{ path('univers_show', {'id': univer.id}) }}">show</a>
                    <a href="{{ path('univers_edit', {'id': univer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('univers_new') }}">Create new</a>
{% endblock %}
