{% extends 'base.html.twig' %}

{% block title %}Univers{% endblock %}

{% block body %}
    <h1>Univers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ univer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ univer.name }}</td>
            </tr>
            <tr>
                <th>Link_image</th>
                <td>{{ univer.linkImage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('univers_index') }}">back to list</a>

    <a href="{{ path('univers_edit', {'id': univer.id}) }}">edit</a>

    {{ include('univers/_delete_form.html.twig') }}
{% endblock %}
