<div *ngIf="personnage != null" class="card bg-dark m-1 shadow"  style="width: 650px; max-width: 550px; height: 350px">
  <div class="card-header bg-white">
    <h2 class="card-title text-center">{{personnage.nom}}</h2>
  </div>
  <div class="card-body d-flex justify-content-center">
    <img src="{{personnage.linkImage}}" style="max-height: 100%"/>
  </div>
  <div class="card-footer bg-white d-flex justify-content-center">
    <!-- ['/univers-show', univer.id ] => /univers-show/univer.id -->
    <button class="btn btn-primary" [routerLink]="['/univers-show', personnage.id ]">En savoir plus</button>
  </div>
</div>
