<form method="post" action="{{ path('coup_speciaux_delete', {'id': coup_speciaux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coup_speciaux.id) }}">
    <button class="btn">Delete</button>
</form>
