{% extends 'base.html.twig' %}

{% block title %}Edit CoupSpeciaux{% endblock %}

{% block body %}
    <h1>Edit CoupSpeciaux</h1>

    {{ include('coup_speciaux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coup_speciaux_index') }}">back to list</a>

    {{ include('coup_speciaux/_delete_form.html.twig') }}
{% endblock %}
