{% extends 'base.html.twig' %}

{% block title %}CoupSpeciaux index{% endblock %}

{% block body %}
    <h1>CoupSpeciaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pourcantages</th>
                <th>Direction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coup_speciaux in coup_speciauxes %}
            <tr>
                <td>{{ coup_speciaux.id }}</td>
                <td>{{ coup_speciaux.name }}</td>
                <td>{{ coup_speciaux.pourcantages }}</td>
                <td>{{ coup_speciaux.direction }}</td>
                <td>
                    <a href="{{ path('coup_speciaux_show', {'id': coup_speciaux.id}) }}">show</a>
                    <a href="{{ path('coup_speciaux_edit', {'id': coup_speciaux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('coup_speciaux_new') }}">Create new</a>
{% endblock %}
