{% extends 'base.html.twig' %}

{% block title %}New CoupSpeciaux{% endblock %}

{% block body %}
    <h1>Create new CoupSpeciaux</h1>

    {{ include('coup_speciaux/_form.html.twig') }}

    <a href="{{ path('coup_speciaux_index') }}">back to list</a>
{% endblock %}
