{% extends 'base.html.twig' %}

{% block title %}CoupSpeciaux{% endblock %}

{% block body %}
    <h1>CoupSpeciaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coup_speciaux.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ coup_speciaux.name }}</td>
            </tr>
            <tr>
                <th>Pourcantages</th>
                <td>{{ coup_speciaux.pourcantages }}</td>
            </tr>
            <tr>
                <th>Direction</th>
                <td>{{ coup_speciaux.direction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coup_speciaux_index') }}">back to list</a>

    <a href="{{ path('coup_speciaux_edit', {'id': coup_speciaux.id}) }}">edit</a>

    {{ include('coup_speciaux/_delete_form.html.twig') }}
{% endblock %}
