{% extends 'base.html.twig' %}

{% block title %}New Combat{% endblock %}

{% block body %}
    <h1>Create new Combat</h1>

    {{ include('combat/_form.html.twig') }}

    <a href="{{ path('combat_index') }}">back to list</a>
{% endblock %}
